<p>people-detail</p>

<div style="text-align:center">
    <h1>People Detail <pre style="margin:3px;"></pre>
        <a (click)="backClicked()"> << </a>
    </h1>   
    
    <!-- <div *ngIf="selectedPeople">

        <h2>{{selectedPeople.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedPeople.id}}</div>
        <div>
          <label>name:
            <input [(ngModel)]="selectedPeople.name" placeholder="name"/>
          </label>
        </div>
      
      </div> -->

    </div> 

